################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GProject.WebApplication/GProject.Data/GProject.Data.csproj
