<link rel="stylesheet" href="~/css/AccessDanied.css" />

<div class="text-wrapper justify-content-between" style="margin-top:140px;">
    <div class="title" data-content="404">
        <img src="/images/access-denied.PNG" style="width:130px; height:150px;" />
        TRUY CẬP KHÔNG THÀNH CÔNG!
    </div>

    <div class="subtitle">
        Rất tiếc, bạn không có quyền truy cập tính năng này.
    </div>
    <div class="isi">
        Lỗi bị từ chối truy cập (Access Denied) là một vấn đề phổ biến trên hệ thống Windows và cho biết rằng tài khoản của bạn không có quyền xem các tính năng, chức năng này. Điều này là do hệ thống của bạn chưa cấp quyền truy cập vào tài khoản người dùng hiện tại mà bạn hiện đang sử dụng trên máy tính của mình.
    </div>
</div>