@model GProject.WebApplication.Models.ChangePasswordDTO

@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 200px;">
    <form id="formdata" asp-action="ChangePasswordCustomer" onsubmit="return validateFormData();">
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">Đổi mật khẩu</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Mật khẩu hiện tại</label>
                        <input class="form-control" type="password" id="currentPassword" name="CurrentPassword">
                        <span class="text-danger">@ViewBag.checkCurrentPass</span>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">Mật khẩu mới</label>
                            <input class="form-control" type="password" id="newPassword" name="NewPassword">
                            <span id="newPasswordError" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Nhập lại mật khẩu mới</label>
                            <input class="form-control" type="password" id="confirmNewPassword" name="ConfirmPassword">
                            <span id="confirmNewPasswordError" class="text-danger"></span>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="changePasswordButton">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
<script>
    function validateFormData() {
        var currentPassword = document.getElementById('currentPassword').value;
        var newPassword = document.getElementById('newPassword').value;
        var confirmNewPassword = document.getElementById('confirmNewPassword').value;
        
        if (currentPassword.trim() === '') {
            sweetAlert("Thông báo", "Thông tin mật khẩu hiện tại không được để trống", "error");
            return false;
        }
        if (newPassword.trim() === '') {
            sweetAlert("Thông báo", "Thông tin mật khẩu mới được để trống", "error");
            return false;
        }
        if (confirmNewPassword.trim() === '') {
            sweetAlert("Thông báo", "Thông tin xác nhận mật khẩu mới được để trống", "error");
            return false;
        }
        if (newPassword.trim() !== confirmNewPassword.trim()) {
            sweetAlert("Thông báo", "Thông tin mật khẩu nhập lại không khớp với mật khẩu mới", "error");
            return false;
        }
        return true;
    }
</script>