@using Microsoft.AspNetCore.Mvc;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Motorcycle_Shop_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Motorcycle_Shop_Project.styles.css" asp-append-version="true" />
    <!-- End Google Tag Manager -->
    <title>Honda | Xe máy | Danh sách sản phẩm</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Honda Home page" />
    <meta name="csrf-token" content="2qsuJcsnvDgnRtsOmsuTzOLHRskqRlW6g1Eifk6Z">
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/common.css?v=1.0" />
    <link rel="stylesheet" type="text/css" href=https://www.honda.com.vn/css/xe-may/san-pham.css>
    <link rel="stylesheet" href="https://www.honda.com.vn/css/feel-the-performance/app.css">
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/xe-may/chi-tiet.css?v=1.0">
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/slick-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/slick.min.css">
    <link rel="stylesheet" href="~/css/designTextBox.css" />
    <link href="~/css/Sidebar_icons_animated.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/versions.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/mapsed.js"></script>
    <script src="~/bundles/jquery"></script>
    <script src="~/js/01-custom-places-example.js"></script>
    <script src="~/js/modernizer.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCKjLTXdq6Db3Xit_pW_GK4EXuPRtnod4o"></script>
</head>
<body>
    <header>
        <div>
            <ul>
                <li>
                    <a href="javascript:void(0)">Thăm dò ý kiến Khách hàng</a>
                    <ul>
                        <li><a href="#">Ô tô</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Câu hỏi thường gặp</a>
                </li>
                <li>
                    <a href="#">Liên hệ</a>
                </li>
                <li>
                    <a href="#">Tuyển dụng</a>
                    <ul>
                        <li>
                            <a href="#">
                                Tin
                                tức sự kiện
                            </a>
                        </li>
                        <li>
                            <a href="#">Quy trình ứng tuyển</a>
                        </li>
                        <li>
                            <a href="#">
                                Câu hỏi thường
                                gặp
                            </a>
                        </li>
                    </ul>
                </li>
                <li>|</li>
                <li><a href="/moi-thau">Mời thầu</a></li>
                <li>
                    <div class="social-pc">
                        <div class="b-social" id="btn-social-pc">
                            <div class="btn-social">
                                <img src="https://www.honda.com.vn/images/social/ico-facebook-red.png">
                                <img src="https://www.honda.com.vn/images/social/ico-ig-red.png">
                                <img src="https://www.honda.com.vn/images/social/ico-youtube-red.png">
                            </div>
                            <div class="social">
                                <div class="wrap-social" id="social1">
                                    <div class="btn-accord">
                                        Honda Việt Nam
                                        <i class="ico-arrow"><img src="https://www.honda.com.vn/images/social/ico-arrow.png"></i>
                                    </div>
                                    <div class="accord-content">
                                        <a href="https://www.facebook.com/HondaVietnam" target="_blank">
                                            <img src="https://www.honda.com.vn/images/social/ico-facebook.png">
                                        </a>
                                        <a href="https://www.instagram.com/hondavietnam_official/"
                                           target="_blank">
                                            <img src="https://www.honda.com.vn/images/social/ico-ig.png">
                                        </a>
                                        <a href="https://www.youtube.com/c/HondaVi%E1%BB%87tNamOfficial"
                                           target="_blank">
                                            <img src="https://www.honda.com.vn/images/social/ico-youtube.png">
                                        </a>
                                    </div>
                                </div>

                                <div class="wrap-social" id="social2">
                                    <div class="btn-accord">
                                        Global Motorcycle Racing
                                        <i class="ico-arrow"><img src="https://www.honda.com.vn/images/social/ico-arrow.png"></i>
                                    </div>
                                    <div class="accord-content">
                                        <a href="https://www.facebook.com/hondaracingcorporation" target="_blank">
                                            <img src="https://www.honda.com.vn/images/social/ico-facebook.png">
                                        </a>
                                        <a href="https://www.instagram.com/hondaracingcorporation"
                                           target="_blank">
                                            <img src="https://www.honda.com.vn/images/social/ico-ig.png">
                                        </a>
                                        <a href="https://www.youtube.com/user/HondaRacingHRC"
                                           target="_blank">
                                            <img src="https://www.honda.com.vn/images/social/ico-youtube.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div>
                <button>
                    <i class="fa fa-bars"></i>
                </button>
                <a href="/">
                    <img src="https://www.honda.com.vn/images/logo.svg" alt="HONDA Việt Nam">
                </a>
            </div>
        </div>
        <nav>
            <div class="social-mobile">
                <div class="b-social" id="btn-social-pc">
                    <div class="btn-social">
                        <img src="https://www.honda.com.vn/images/social/ico-facebook-red.png">
                        <img src="https://www.honda.com.vn/images/social/ico-ig-red.png">
                        <img src="https://www.honda.com.vn/images/social/ico-youtube-red.png">
                    </div>
                    <div class="social">
                        <div id="social1">
                            <div class="btn-accord">
                                Honda Việt Nam
                                <i class="ico-arrow"><img src="https://www.honda.com.vn/images/social/ico-arrow.png"></i>
                            </div>
                            <div class="accord-content">
                                <a href="https://www.facebook.com/HondaVietnam" target="_blank">
                                    <img src="https://www.honda.com.vn/images/social/ico-facebook.png">
                                </a>
                                <a href="https://www.instagram.com/hondavietnam_official/" target="_blank">
                                    <img src="https://www.honda.com.vn/images/social/ico-ig.png">
                                </a>
                                <a href="https://www.youtube.com/c/HondaVi%E1%BB%87tNamOfficial"
                                   target="_blank">
                                    <img src="https://www.honda.com.vn/images/social/ico-youtube.png">
                                </a>
                            </div>
                        </div>

                        <div id="social2">
                            <div class="btn-accord">
                                Global Motorcycle Racing
                                <i class="ico-arrow"><img src="https://www.honda.com.vn/images/social/ico-arrow.png"></i>
                            </div>
                            <div class="accord-content">
                                <a href="https://www.facebook.com/hondaracingcorporation" target="_blank">
                                    <img src="https://www.honda.com.vn/images/social/ico-facebook.png">
                                </a>
                                <a href="https://www.instagram.com/hondaracingcorporation" target="_blank">
                                    <img src="https://www.honda.com.vn/images/social/ico-ig.png">
                                </a>
                                <a href="https://www.youtube.com/user/HondaRacingHRC" target="_blank">
                                    <img src="https://www.honda.com.vn/images/social/ico-youtube.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul>
                @if (User.IsInRole("admin"))
                {
                    <li class="arrow">
                        <a href="#" style="color:white;">Thống kê</a>
                        <ul>
                            <li>
                                <a href="/statical/staticalpage">Doanh số bản thân</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("manager"))
                {
                    <li class="arrow">
                        <a href="#" style="color:white;">Thống kê</a>
                        <ul>
                            <li>
                                <a href="/statical/staticalpage">Thống kê chung</a>
                            </li>
                            <li>
                                <a href="/statical/rank_employee">Xếp hạng doanh số nhân viên</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("employee"))
                {
                    <li class="arrow">
                        <a href="#" style="color:white;">Thống kê</a>
                        <ul>
                            <li>
                                <a href="/statical/staticalpage">Doanh số bản thân</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("manager"))
                {
                <li class="arrow ">
                    <a href="#" style="color:white;">Đơn đặt hàng</a>
                    <ul>
                        <li>
                            <a href="/invoice/load-product">Tạo Hóa đơn</a>
                        </li>
                        <li>
                            <a href="/invoice/get-all-invoice">Tất cả Hóa đơn</a>
                        </li>
                    </ul>
                </li>
                <li class="arrow">
                    <a href="#" style="color:white;">Sản phẩm</a>
                    <ul>
                        <li>
                            <a href="/productmgr/getallproduct">Danh mục sản phẩm</a>
                        </li>
                        <li>
                            <a href="/category/categorypage">Thông tin sản phẩm</a>
                        </li>
                        <li>
                            <a href="/producer/producerpage">Size</a>
                        </li>
                        <li>
                            <a href="/color/colorpage">Bình luận đánh giá</a>
                        </li>
                    </ul>
                </li>
                <li class="arrow ">
                    <a href="/customer/customerpage" style="color:white;">Khách hàng</a>
                </li>
                <li class="arrow ">
                    <a href="/customer/customerpage" style="color:white;">Hóa đơn</a>
                </li>
                <li class="arrow ">
                    <a href="#" style="color:white;">Cửa hàng</a>
                    <ul>
                        <li>
                            <a href="/store/storepage">Cửa hàng</a>
                        </li>
                        <li>
                            <a href="/position/positionpage">Chức vụ</a>
                        </li>
                        <li>
                            <a href="/employee/employeepage">Nhân viên</a>
                        </li>
                    </ul>
                </li>

                <li class="arrow ">
                    <a href="#" style="color:white;">Sự kiện</a>
                    <ul>
                        <li>
                            <a href="/event/ShowAllEventActive">Đang diễn ra</a>
                        </li>
                        <li>
                            <a href="/event/ShowAllEvent">Tất cả sự kiện</a>
                        </li>
                        <li>
                            <a href="/event/EventPage">Thêm mới sự kiện</a>
                        </li>
                    </ul>
                </li>


                <li class="arrow ">
                    <a href="#" style="color:white;">@(User == null ? "Thông tin" : User.Identity.Name)</a>
                    <ul id="nav-customer">
                        <li>
                            <a href="/user/change-password">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a href="/user/change-personal-infomation-employee-page">Đổi thông tin cá nhân</a>
                        </li>
                        <li>
                            <a href="/Login/logout">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
